Source: spider
Section: utils
Priority: optional
Maintainer: Omar Khalid <omarxkhalid@github.com>
Build-Depends: debhelper-compat (= 13),
               meson,
               ninja-build,
               python3,
               dh-python,
               libglib2.0-bin
Standards-Version: 4.6.2
Homepage: https://github.com/OMARxKHALID/spider

Package: spider
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         tesseract-ocr,
         tesseract-ocr-eng,
         python3-gi,
         python3-numpy,
         python3-opencv,
         libadwaita-1-0,
         gir1.2-adw-1 (>= 1.5),
         gir1.2-gtk-4.0
Description: Intuitive text extraction tool (OCR) for GNOME.
 Spider captures regions of your screen and instantly extracts text
 using advanced OCR engines. Built with GTK4 and Libadwaita.
